/* navagation section  */

.navbar {
    flex-direction: column;
}

.rightnav {
    flex-direction: column;
}

.navlistul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* home section  */

.home {
    padding: 3px 77px;
}

.home h1 {}

.home p {
    font-size: 13px;
}


/* services section  */

#ourservice {
    padding: 35px 2px 2px 2px;
}

.services {
    flex-direction: column;
}

.services .box {
    margin: 13px 21px;
}

.services .box img {
    height: 88px;
}

.services .box {}


/* client section  */

.ourclients {
    flex-wrap: wrap;
}

.ourclients img {
    width: 66px;
    padding: 2px 6px;
    height: auto;
}


/* contact section  */

.contactus form {}

.first {
    width: 55%;
}

.h-primary {
    font-size: 25px;
}


/* foooter section  */

.footer p {
    font-size: 12px;
}